// Global process
process {
    withName:"COUNT" {
        ext.args = { $params.nolibcomp ? "--check-library-compatibility=false" : '' }
    }
}

// Global params
params {

	// Custom Genome - if not Human/Mouse standard ref
	custom_genome = "xcustomgenomex"

	// Base directories for references and tools
	refdir = '/projects/fs1/shared/references'
	container_dir = '/projects/fs1/shared/ctg-containers'
	
	// Directories for configurations
	multiqc_conf = "/projects/fs1/shared/singleCellWorkflows/conf/multiqc.yaml"

	// Transcriptomes
	human="$refdir/cellranger/hg38/refdata-gex-GRCh38-2020-A"
	mouse="$refdir/cellranger/mm10/refdata-gex-mm10-2020-A"
	mixed_genome="$refdir/cellranger/hg38_mm10/refdata-gex-GRCh38-and-mm10-2020-A" 
	
	// VDJ references
	human_vdj="$refdir/cellranger/vdj/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.1.0"
	mouse_vdj="$refdir/cellranger/vdj/refdata-cellranger-vdj-GRCm38-alts-ensembl-7.0.0"

	// Probe sets
	human_probes="$refdir/cellranger/fixrna/Chromium_Human_Transcriptome_Probe_Set_v1.0_GRCh38-2020-A.csv"
	mouse_probes="$refdir/cellranger/fixrna/Chromium_Mouse_Transcriptome_Probe_Set_v1.0_mm10-2020-A.csv"

	// Atac multiome references
	human_atac="$refdir/cellranger/hg38/refdata-cellranger-arc-GRCh38-2020-A-2.0.0"
	mouse_atac="$refdir/cellranger/mm10/refdata-cellranger-arc-mm10-2020-A-2.0.0"

	// Visium references
	slide_references="$refdir/spaceranger/slidefiles"

	// Custome references
	custom_genome="CustomGenome"
	custom_probes="CustomProbes"

	// Directories for outputs:
	outdir = "/projects/fs1/shared/Jobs"
	ctgqc = "/projects/fs1/shared/ctg-qc/qcapp2"

	// runOptions
	intron_mode="true"
	ctg_mode="true"
	nolibcomp="false"

}

// Configuration file for sc-rna-10x pipeline 
profiles {
    prod {
        params.outdir = "/projects/fs1/shared/Jobs"
        params.ctgqc = "/projects/fs1/shared/ctg-qc/qcapp2"
        params.multiqc_conf = "/projects/fs1/shared/singleCellWorkflows/conf/multiqc.yaml"
    }
    stage {
        params.outdir = "/projects/fs1/stage_shared/Jobs"
	    params.ctgqc = "/projects/fs1/stage_shared/ctg-qc/qcapp2"
	    params.multiqc_conf = "/projects/fs1/stage_shared/singleCellWorkflows/conf/multiqc.yaml"
    }
	standard {
		// Define SLURM specs
		process {
			executor='local'
			time='5h'
			cpus='6'
			withName:FASTQC {
				container = "$params.container_dir/sc-rna-10x/cellranger.v6.1.2/cellranger_v6.1.2.sif"
				executor='slurm'
				time='24h'
				cpus='6'
				memory='24 GB'
			}
			withName:MULTIQC {
				container = "$params.container_dir/multiqc/dev/multiqc.simg"
				executor='slurm'
				time='2h'
				cpus='8'
				memory='24 GB'
			}

			withName:COUNT {
				container = "$params.container_dir/cellranger/v7.2.0/cellranger.v7.2.0.sif"
				executor='slurm'
				time='2d'
				cpus='16'
				memory='120 GB'
			}
			withName:COUNT_ATAC {
				container = "$params.container_dir/cellranger-atac/v2.1.0/cellranger-atac.simg"
				executor='slurm'
				time='2d'
				cpus='16'
				memory='120 GB'
			}
			withName:COUNT_ARC {
				container = "$params.container_dir/cellranger-arc/latest/cellranger-arc.simg"
				executor='slurm'
				time='2d'
				cpus='16'
				memory='120 GB'
			}
			withName:MULTI {
				container = "$params.container_dir/cellranger/v7.2.0/cellranger.v7.2.0.sif"
				executor='slurm'
				time='4d'
				cpus='16'
				memory='120 GB'
			}
			withName:SPACECOUNT {
				container = "$params.container_dir/spaceranger/v2.0.0/spaceranger.simg"
				executor='slurm'
				time='2d'
				cpus='16'
				memory='120 GB'
			}
		}
		singularity {
				enabled = true
				runOptions = '--bind /projects/fs1/'
		}

		workDir = "/projects/fs1/shared/ctg-projects/singleCellWorkflows/"
	}

	local_dev {
		process {
			executor='local'
			cpus='1'
			memory='2 GB'
			time='2d'
		}
		singularity {
			enabled = false
		}
	}
}
