
// Global params
params {

	// Custom Genome - if not Human/Mouse standard ref
	custom_genome = "xcustomgenomex"

	// Base directories for references and tools
	refdir = '/projects/fs1/shared/references'
	container_dir = '/projects/fs1/shared/ctg-containers'
	// references

	// Transcriptomes
	human="$refdir/cellranger/hg38/refdata-gex-GRCh38-2020-A"
	mouse="$refdir/cellranger/mm10/refdata-gex-mm10-2020-A"
	mixed_genome="$refdir/cellranger/hg38_mm10/refdata-gex-GRCh38-and-mm10-2020-A" 

	// Probe sets
	human_probes="$refdir/cellranger/fixrna/Chromium_Human_Transcriptome_Probe_Set_v1.0_GRCh38-2020-A.csv"
	mouse_probes="$refdir/cellranger/fixrna/Chromium_Mouse_Transcriptome_Probe_Set_v1.0_mm10-2020-A.csv"
	custom_probes="$refdir/cellranger/fixrna"

	// TotalSeq A and C references
	totalseqA="$refdir/cellranger_totalseq/hto/TotalSeq_A_HTO.csv"
	totalseqC="$refdir/cellranger_totalseq/adt/TotalSeq_C_Human_Universal_Cocktail_399905_Antibody_reference_UMI_counting.csv"


	// Directories for outputs:
	outdir = "/projects/fs1/shared/Jobs"
	ctgqc = "/projects/fs1/shared/ctg-qc/qcapp2"

	// runOptions
	feature_reference = "NO_FILE"
	analysis = "scrna-10x"
	intron_mode="true"
}

// Configuration file for sc-rna-10x pipeline 
profiles {
	standard {
		// Define SLURM specs
		process {
			executor='slurm'
			time='5h'
			cpus='8'

			withName:DELIVERY_INFO {
				time='1h'
				cpus='1'
				memory='1 GB'
			}
			withName:SUMMARIZE_COUNT {
				container = "$params.container_dir/sc-rna-10x/cellranger.v6.1.2/cellranger_v6.1.2.sif"
				time='1h'
				cpus='1'
				memory='11 GB'
			}
			withName:FASTQC {
				container = "$params.container_dir/sc-rna-10x/cellranger.v6.1.2/cellranger_v6.1.2.sif"
				time='24h'
				cpus='8'
				memory='50 GB'
			}
			withName:MULTIQC {
				container = "$params.container_dir/multiqc/dev/multiqc.simg"
				time='2h'
				cpus='8'
				memory='24 GB'
			}

			withName:COUNT {
				container = "$params.container_dir/cellranger/v7.1.0/cellranger.simg"
				time='2d'
				cpus='19'
				memory='120 GB'
			}
			withName:DELIVER_PROJ {
				executor="local"
				cpus='2'
				memory='10 GB'
			}
		}


		singularity {
				enabled = true
				runOptions = '--bind /projects/fs1/'
		}

		workDir = "/projects/fs1/shared/ctg-projects/singleCellWorkflows/"
	}

	local_dev {
		process {
			executor='local'
			cpus='8'
			memory='8 GB'
			time='2d'
		}
		singularity {
			enabled = false
		}
	}
}